.easy{
    margin-bottom: 160px;
    &__container{
        display: flex;
        
    }
    &__content{
        margin-top: 59px;
    }
    
    &__title{
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
        width: 445px;
        margin-bottom: 24px;
    }
    &__text{
        width: 445px;
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin-bottom: 40px;
    }
    &__img{
        margin-left: 90px;
    }
}
@media only screen and (max-width:768px){
    .easy{
        &__container{
            max-width: 573px;
            flex-direction: column;
            justify-content: center;
        }
        &__img{
            order: -1;
            margin-left: -99px;
            display: block;
        }
        &__title{
            margin: 0 auto;
        }
        &__text{
            padding-top: 40px;
            width: 573px;
        }

     
    }
    .all__btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:425px){
    .easy{
        &__container{
            max-width: 311px;
            flex-direction: column;
            justify-content: center;
        }
        &__img{
            order: -1;
            display: block;
            margin-left: -210px;
        
           
        }
        &__title{
            font-size: 32px;
            line-height: 32px;
            width: 311px;
            margin: 0 auto;
        }
        &__text{
            font-size: 15px;
            line-height: 25px;
            padding-top: 40px;
            width: 311px;
        }
    }
}